---
import { Controls } from '../components/Controls/Controls'
---

<script is:inline>
  !(function (r, u, m, b, l, e) {
    ;(r._Rumble = b),
      r[b] ||
        (r[b] = function () {
          ;(r[b]._ = r[b]._ || []).push(arguments)
          if (r[b]._.length == 1) {
            ;(l = u.createElement(m)),
              (e = u.getElementsByTagName(m)[0]),
              (l.async = 1),
              (l.src =
                'https://rumble.com/embedJS/uh05th' +
                (arguments[1].video ? '.' + arguments[1].video : '') +
                '/?url=' +
                encodeURIComponent(location.href) +
                '&args=' +
                encodeURIComponent(JSON.stringify([].slice.apply(arguments)))),
              e.parentNode.insertBefore(l, e)
          }
        })
  })(window, document, 'script', 'Rumble')
</script>

<div id='rumble_v3i43s4'></div>
<button id='playBtn'>Click</button>

<script is:inline>
  const button = document.getElementById('playBtn')
  console.log(Rumble)
  Rumble('play', {
    video: 'v3i43s4',
    div: 'rumble_v3i43s4',
    api: function (api) {
      button.addEventListener('click', () => console.log(api.getCurrentTime()))

      api.on('pause', () => alert('shit'))
    }
  })
</script>
